<p id="notice"><%= notice %></p>
<center>
  <h1>Список пользователей</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Имя</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><div class="round-image-50">
            <%= image_tag(user.avatar.url(:small)) %>
          </div></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'Просмотр', user %></td>
          <%end%>
        </tr>
    </tbody>
  </table>
  <br>
  <div class="apple_pagination">
    <%= will_paginate @users %>
  </div>
</center>