<center>
  <h1><strong>Список обьявлений</strong><br></h1>
</center>
<p>
  <% @posts.each do |post| %>
    <div class="listing_posts">
    <div class="round-image-50">
      <%= image_tag(post.user.avatar.url(:thumb)) %>
    </div>
      <div class="timestamp">
        <%= post.created_at%>
      </div>
        <%= RedCloth.new(post.title).to_html.html_safe %>
        <%= RedCloth.new(truncate(post.body, length: 100, separator: ' ')).to_html.html_safe %>
      <td><%= link_to 'Посмотреть', post_path(post) %></td>
    </div>
<% end %>
<center>
<div class="apple_pagination">
  <%= will_paginate @posts %>
</div>
</center>