<center> <h1><strong>Мои Обьявления</strong><br></h1>
  <div class="round-image-300">
    <%= image_tag(current_user.avatar.url(:medium)) %>
  </div>
</center>
<p>
  <% @post.each do |post| %>
    <div class="my_posts">
      <div class="timestamp">
        <%= post.created_at%>
      </div>
        <%= RedCloth.new(post.title).to_html.html_safe %>
        <%= RedCloth.new(truncate(post.body,length: 100, omission: "..." , escape: false)).to_html.html_safe %><br>
      <%= link_to 'Посмотреть', post_path(post) %>
    </div>
<% end %>
<div class="apple_pagination">
  <%= will_paginate @post %>
</div>