
<center>
_______________________________________
 <div class="round-image-300">
<%= image_tag(@avatar.url(:medium)) %>
      </div>
<strong> Author: </strong><%= @post.user.name%>
<p>
  <strong><h2>Title:</h2></strong>
  <%= RedCloth.new(@post.title).to_html.html_safe %>
</p>

<p>
  <strong>Body:</strong>
  <%= RedCloth.new(@post.body).to_html.html_safe %>
</p>
<br>
<% if current_user.id == @post.user_id  %>
  | <%= link_to "Edit", edit_post_path%> |
  <%= link_to "Delete", @posts, method: :delete, data: { confirm: "You sure?" }%> |<br>
<%end%>
____________________________
</center>

<table id='post_comments'>
  <thead>
  <% if @post.comments.count == 0 %>
      <h3>Dear <%=current_user.name%>, pleas write first comment!</h3>
  <% else%> 
      <tr>
        <th></th>
        <th></th>
        <th><strong>Commenter: </strong></th>
        <th><strong>Comment:   </strong></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
      <% @post.comments.each do |com| %>
        <tr>
          <td><%= com.id %></td>
          <td><div class="round-image-50"><%= image_tag(com.user.avatar.url(:medium)) %></div></td>
          <td><%= com.user.name %></td>
          <td><%= com.body %></td>
            <% if current_user.id == com.user_id  %>
          <td><%= link_to 'Edit', edit_post_comment_path(@post.id, com) %></td>
          <td><%= link_to "Destroy", com, method: :delete, data: { confirm: "точно?"}, remote: true, class: 'deleteAction' %></td>
            <%end%>
       <% end%>
      </tr>
    <% end%>
  </tbody>
</table>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <%= render partial: "comments/form", locals:{ f: f} %>
  <p>
    <%= f.submit "Add Comment", class: "btn btn-large btn-primary" %>
  </p>
<% end %>