<div class="post">
  <div class="round-image-300">
    <%= image_tag(@avatar.url(:medium)) %>
  </div>
  <div class="post_show">
    <strong> Автор: </strong><%= @post.user.name%>
      <strong>
        <%= RedCloth.new(@post.title).to_html.html_safe %>
      </strong>
      <%= (@post.body).html_safe %>

      <div class="timestamp">
        <%= @post.created_at%>
      </div>
    <br>
  </div> 
</div> 
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>
<a href="#?w=500" rel="popup_name" class="poplight">Написать комментарий</a>
  <div id="popup_name" class="popup_block">
    <h2>Написать комментарий:</h2>
    <center>
      <%= form_for([@post, @post.comments.build], remote: true) do |f| %>
        <%= render partial: "comments/form", locals:{ f: f} %>
        <p>
          <%= f.submit "Написать Комментарий", class: "btn btn-large btn-primary", id:"com_post" %>
        </p>
      </center>
    <% end %>
  </div>   
</div>


